main {
    margin: 2rem 0;
}

.navbar-dark {
    .navbar-nav {
        a {
            color: $white;
            display: block;
            padding: .5rem 1rem;
            text-decoration: none;

            &:hover {
                background-color: theme-color-level(dark, -1);
            }
        }

        .active {
            a {
                background-color: theme-color-level(dark, -2);
            }
        }
    }
}

.navbar-light {
    .navbar-nav {
        a {
            color: $gray-900;
            display: block;
            padding: .875rem 1rem;
            text-decoration: none;

            &:hover {
                color: $gray-700;
            }
        }

        .active {
            a {
                background-color: $dark;
                color: $white;
            }
        }
    }
}
