$primary:       $kirche-color-01;
$secondary:     $kirche-color-43;
$success:       $kirche-color-43;
$info:          $kirche-color-32;
$warning:       $kirche-color-13;
$danger:        $kirche-color-21;
$dark:          $kirche-color-01;

$enable-rounded: false;
$link-decoration: underline;
