$theme-colors: (
    // Background
    "kirchecom-color-01": #00163d,

    // Top left window clockwise
    "kirchecom-color-11": #f14b2b,
    "kirchecom-color-12": #ff8933,
    "kirchecom-color-13": #f0da0f,

    // Top right window clockwise
    "kirchecom-color-21": #f43868,
    "kirchecom-color-22": #b54efa,
    "kirchecom-color-23": #f949e8,

    // Bottom right window clockwise
    "kirchecom-color-31": #5163fe,
    "kirchecom-color-32": #2cbcff,
    "kirchecom-color-33": #19e0a6,
    "kirchecom-color-34": #33fae4,

    // Bottom left window clockwise
    "kirchecom-color-41": #ff0,
    "kirchecom-color-42": #13cf6b,
    "kirchecom-color-43": #29c230,
    "kirchecom-color-44": #94e43f
);

$primary: map-get($theme-colors, "kirchecom-color-01");
$secondary: map-get($theme-colors, "kirchecom-color-42");
$success: map-get($theme-colors, "kirchecom-color-43");
$info: map-get($theme-colors, "kirchecom-color-32");
$warning: map-get($theme-colors, "kirchecom-color-13");
$danger: map-get($theme-colors, "kirchecom-color-21");
$dark: map-get($theme-colors, "kirchecom-color-01");

$enable-rounded: false;
$link-decoration: underline;
