<!doctype html>
{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<f:section name="stylesheets">
		<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/index.css', package: 'KircheCom.SiteGenesis')}">
	</f:section>
	<f:section name="headScripts">
	</f:section>
</head>
<body>
<f:section name="body">
	<nav class="menu">
		{parts.menu -> f:format.raw()}
	</nav>
	<div class="content">
		{content.main -> f:format.raw()}

	<f:comment>
		If you enabled the "sidebar" content area in your NodeType configuration and Fusion, you can uncomment this
		section to actually render in in your output. Remove the "f:comment" tag and this text, and adjust the markup as you
		like.

		{content.sidebar -> f:format.raw()}
	</f:comment>

	</div>
</f:section>
<f:section name="bodyScripts">
	<script src="{f:uri.resource(path: 'JavaScript/app.js', package: 'KircheCom.SiteGenesis')}"></script>
</f:section>
</body>
</html>
