<!doctype html>
{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
<html>
<head>
    <meta charset="utf-8">
    <f:section name="meta">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </f:section>
    <f:section name="stylesheets">
        <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/index.css', package: 'KircheCom.SiteGenesis')}">

        <link rel="apple-touch-icon" sizes="180x180" href="{f:uri.resource(path: 'Icons/apple-touch-icon.png', package: 'KircheCom.SiteGenesis')}">
        <link rel="icon" type="image/png" sizes="32x32" href="{f:uri.resource(path: 'Icons/favicon-32x32.png', package: 'KircheCom.SiteGenesis')}">
        <link rel="icon" type="image/png" sizes="16x16" href="{f:uri.resource(path: 'Icons/favicon-16x16.png', package: 'KircheCom.SiteGenesis')}">
        <link rel="manifest" href="{f:uri.resource(path: 'Icons/site.webmanifest', package: 'KircheCom.SiteGenesis')}">
        <link rel="mask-icon" href="{f:uri.resource(path: 'Icons/safari-pinned-tab.svg', package: 'KircheCom.SiteGenesis')}" color="#000b1f">
        <link rel="shortcut icon" href="{f:uri.resource(path: 'Icons/favicon.ico', package: 'KircheCom.SiteGenesis')}">
        <meta name="apple-mobile-web-app-title" content="kirche.com">
        <meta name="application-name" content="kirche.com">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="msapplication-config" content="{f:uri.resource(path: 'Icons/browserconfig.xml', package: 'KircheCom.SiteGenesis')}">
        <meta name="theme-color" content="#000b1f">
    </f:section>
    <f:section name="headScripts">
    </f:section>
</head>
<body>
<f:section name="body">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                {parts.logo -> f:format.raw()}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#theNavbar" aria-controls="theNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="theNavbar">
                {parts.menu -> f:format.raw()}
            </div>
        </div>
    </nav>
    <main role="main">
        <div class="container">
            {content.main -> f:format.raw()}
        </div>
    </main>
    <footer class="text-muted">
        <div class="container">
            {content.footer -> f:format.raw()}
        </div>
    </footer>
</f:section>
<f:section name="bodyScripts">
    <script src="{f:uri.resource(path: 'JavaScript/app.js', package: 'KircheCom.SiteGenesis')}"></script>
</f:section>
</body>
</html>
